node_modules/
dist/
.vscode/
.idea/
.DS_Store

# Configuration files
config.json
config.yml
.env

# Lock files
yarn.lock
package-lock.json

# Logs
logs/
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

